<% layout('./layout/page.ejs') %>
<title><%- title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel='stylesheet' href='/stylesheets/butterfly.css' />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
  </style>
    
    <div id = group1>
    
        <img src = '/images/butterfly/b1.png'>
      <h1>
          Butterflies
      </h1>
      <h2>
          Butterflies and their stories...
      </h2>
    </div>
 

  <div id = group2>
      <p>
          Butterflies that come into the world as a caterpillar 
          and continue to live as a pupa, 
          fit a lot into their short life, 
          have wonderful patterns. 
      </p>
  </div>

  <div id = group3>
      <div class = elem1>
          <h2>Butterfly species</h2>
      </div>
      
          <div class = e1><img class = bb1 src = '/images/butterfly/bb1.png'></div>
          <div class = e2><img class = bb2 src = '/images/butterfly/bb2.png'></div>
          <div class = e3><img class = bb3 src = '/images/butterfly/bb3.png'></div>
          
          <div class = elem2>
              <a class = a1 href="/vindula_dejone">Vindula Dejone</a>
              <a class = a2 href="/cethosia_cyane">Cethosia Cyane</a>
              <a class = a3 href="/papilo_memnon">Papilio Memnon</a>
          </div> 
      

          <div class = e4><img class = bb4 src = '/images/butterfly/bb4.png'></div>
          <div class = e5><img class = bb5 src = '/images/butterfly/bb5.png'></div>
          <div class = e6><img class = bb6 src = '/images/butterfly/bb6.png'></div>

          <div class = elem3>
              <a class = a4 href="/greta_oto">Greta Oto</a>
              <a class = a5 href="/greta_oto">Doleschallia Bisaltide</a>
              <a class = a6 href="/caligo_memnon">Caligo Memnon</a>
          </div>
  </div>

  <div id = group4>
      <p>
          Butterflies belong to the order Lepidoptera, 
          which belongs to the class of insects 
          in the arthropod branch of the animal kingdom. 
          Moths are also included in this group. 
          There are around 20.000 butterfly species. 
          They can be observed all over the world except Antarctica. 
          The word Lepidoptera means scaly wings in Greek. 
          If you look very carefully, 
          you can see these scaly shapes on the wings of butterflies; 
          these are hairs with flattened and enlarged tips. 
          Like all other insects, butterflies have six legs, 
          a main body in three parts (head, thorax (centre) and abdomen (tail end)), 
          two antennae and two honeycomb eyes.
      </p>
  </div>


          <div id = group51>
              <h2>Life Cycle of Butterflies</h2>
          </div>

          <div id = group52>
              <p>The life cycle of butterflies has four stages: 
                  egg, larva (caterpillar), pupa (chrysalis or cocoon) and adult. 
                  This process of change is called metamorphosis.</p>
          </div>
 
  

  <div id = group6>
      
      <img class = b2 src = '/images/butterfly/b2.png'>
      <img class = b3 src = '/images/butterfly/b3.png'>
      <img class = b4 src = '/images/butterfly/b4.png'>
      <img class = b5 src = '/images/butterfly/b5.png'>


      <div class = p1>
          Metamorphosis begins when female butterflies lay their 
          pinhead-sized eggs on a leaf. 
          They lay them on the leaf because the leaves 
          are a source of food for the caterpillars.
      </div>

      <div class = p2>
          The egg period lasts a few days and 
          caterpillars hatch from the broken eggs. 
          During this period, which lasts about two weeks, 
          the caterpillars molt four or five times.

      </div>    

      <div class = p3>
          During the pupation period, 
          the caterpillar hangs itself upside down on a leaf and 
          forms a cocoon and stays in this cocoon for about a week. 
          Depending on the species, 
          this process can last for more than a year, 
          because some butterfly species hibernate as pupae. 
      </div>

      <div class = p4>
          The butterfly emerges from the cocoon, 
          pumps blood into its wings and starts flying 
          within an hour or two after drying out.
      
      </p>            
  </div>
