body{
    background: #F0ECE3;
    zoom: 80%;
}

h1 {
    color: #5B5B5B;
    font-family: Hina Mincho;
    font-size: 135px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    position: absolute;
    margin-top: 365px;
    margin-left: 858px;
}

h2{
    color: #5B5B5B;
    font-family: Hina Mincho;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: 560px;
    margin-left: 603px;
}

p{
    color: #5B5B5B;
    font-family: Crimson Text;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: 700px;
    margin-left: 603px;
}

img{
    width: 148px;
    height: 148px;
    flex-shrink: 0;
    position: absolute;
    margin-top: 314px;
    margin-left: 1011px;
}